
/* POLICE */
@font-face {
    font-family: 'Raleway';
    src: url(https://fonts.google.com/specimen/Raleway);
  }
    
.maPolice {
    font-family: 'Raleway';
  }
  
.h1, h2, h3, div, form, p {
    font-family: 'Raleway';
  }

.html {
    max-width: 1400px; 
}

/* HEADER */
.BookiLogo {
    grid-area: logo;
    height: 70px;
}
  
.headerHostAct{
    grid-area: button;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-areas: "logo . . button";
}

.headerHostActButton {
  padding: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.headerHostActButton:hover {
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

/* Tablettes */
@media screen and (min-width: 768px) and (max-width: 991px)
{
    
}

/* Téléphone */
@media screen and (max-width: 767px)
{
  .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  } 

  .BookiLogo {
    height: 40px;
  }

  .headerHostActButton {
    border-bottom: 2px solid #f2f2f2; 
  }

  .headerHostActButton:hover {
    border-bottom: 2px solid #0065FC;
    border-top: none;
  }    
}
